#set ($class_name = "${model.deltaBuilderClassName}")
package ${model.packageName};

import org.namstorm.deltaforce.core.*;
import org.namstorm.fluency.*;
import javax.annotation.Generated;

/**
* Builder for $class_name
*
* @use  ${model.className} $class_name.[from(${model.className} start)]
*               .[set]XXX(value) - for normal values
*           or  .[set|clear]XXX(key, value) - for maps
*           or  .[add|remove]XXX(value) - for sets
*           or  .[setXXXAt(index, value)|removeXXXAt(index)|remove(value)]
*          .[build()|apply()]
*/
@Generated(value="$generatorClassName", date="${date}")
public class $class_name
extends ${model.extendClassName}
#if(${model.implementsInterfaces} != "") implements ${model.implementsInterfaces} #end
{
    #parse( "DeltaBuilderBody.vm" )
}
